
body
{
    font-family: 'Signika', sans-serif;
    padding: 30px;
}

.wsToolBar
{
    text-align: right;
}

.wsToolBar div
{
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.wsToolBar .wsTools
{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.wsToolBar #logo
{
    height: 50px;
    width: 150px;
    margin-left: 10px;
    cursor: pointer;
}

.wsToolBar div:nth-child(3):hover
{
    cursor: pointer;
}

.wsQuestionMark
{
    background-image: url(../fonts/tooltip.svg);
    height: 150px;
    width: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 100px auto 50px;
}

.wsTitle
{
    text-align: center;
    font-size: 40pt;
}

.wsSubTitle
{
    text-align: center;
    font-size: 24pt;
    margin-top: 30px;
}

.wsSubTitle p
{
    margin-bottom: 10px;
}

.wsSubTitle a
{
    display: inline;
    text-decoration: none;
}

.wsCreateWebSite
{
    text-align: center;
    margin-top: 100px;
}

.wsCreateWebSite a:hover
{
    color: #000;
}

.wsCreateWebSite input[type=button]
{
    text-transform: uppercase;
    border: 0;
    border-radius: 3px;
    padding: 10px 30px;
    cursor: pointer;
    margin-top: 10px;
}

.wsSiteMap
{
    width: 1000px;
    margin: auto;
    margin-top: 60px;
}

.wsSiteMap > div:first-of-type
{
    font-size: 24pt;
    margin-top: 30px;
    margin-bottom: 20px;
}


.wsSiteMap #Menu .wsMobileMenuContent a
{
    display: block;
    margin: 5px;
    text-decoration: none;
    vertical-align: bottom;
}

.wsSiteMap #Menu .wsMobileMenuContent div:before
{
    content: "\221F";
}

.wsSiteMap #Menu .wsMobileMenuContent div
{
    padding-left: 16px;
}

.wsSiteMap #Menu .wsMobileMenuContent div a:first-child
{
    display: inline;
    vertical-align: sub;
}

.wsSiteMap #Menu .wsMobileMenuContent div a:not(:first-child)
{
    margin-left: 22px
}

.wsSiteMap #Menu .wsMobileMenuContent div div
{
    padding-left: 32px;
}
