
.naRadioButton,
.naRadioButton .naRadioButtonOption,
.naRadioButton .naRadioButtonItem
{
    display: inline-block;
}

.naRadioButton .naRadioButtonOption:not(:first-child)
{
    margin-left: 20px;
}

.naRadioButton .naRadioButtonOption > label
{
    margin-left: 10px;
    vertical-align: middle;
    cursor: pointer;
}

.naRadioButton .naRadioButtonItem
{
    width: 14px;
    height: 14px;
    background-color: [neutral-2-background-color];
    border-radius: 7px;
    cursor: pointer;
    vertical-align: middle;
}

.naRadioButton .naRadioButtonItem.wsChecked
{
    background-image: url("../fonts/radio.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 8px;
}
